<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>L4 - Conditional Rendering</title>
    <!-- Import css styles -->
    <link rel="stylesheet" href="./assets/styles.css">
    <!-- Import vue.js -->
    <script src="https://unpkg.com/vue@next"></script>
</head>
<body>
    <div id="app">
        <div class="nav-bar"></div>
        <div class="product-display">
            <div class="product-container">
                <div class="product-image">
                    <!-- Gambar ditampilkan disini -->
                    <img :src="image" alt="kaus-kaki-hijau">
                </div>
                <div class="product-info">
                    <h1>{{ product }}</h1>
                    <!-- <p v-show="inStock">Stok Tersedia</p> -->
                    <!-- v-if digantikan dgn v-show yang berfungsi untuk
                        hanya menampilkan data yang nilainya tersebut true-->
                    <!-- v-else tidak diperlukan karena jika yang ditampilkan
                        nilai dari object = true -->

                    <!-- Task!: Buatlah logical if OnSale = true maka akan menampilkan dijual & stok tersedia 
                        else onSale != true maka ia akan menampilkan Stok Habis -->

                    <div v-if="onSale">
                        <p>Dijual</p>
                        <p v-if="inventory > 20">Stok Tersedia</p>
                        <p v-else-if="inventory <= 20 && inventory > 0">Hampir Habis!</p>
                        <p v-else>Stok Habis</p>
                    </div>

                    <div v-else>
                        <p>Maaf Stok Saat Ini Habis</p>
                    </div>
                    <!-- End of task -->
                </div>
            </div>
        </div>
    </div>

    <!-- Import js/App -->
    <script src="./main.js"></script>

    <!-- Mount App -->
    <script>
        const mountedApp = app.mount('#app')
    </script>
</body>
</html>