<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>L4 - Conditional Rendering</title>
    <!-- Import css styles -->
    <link rel="stylesheet" href="./assets/styles.css">
    <!-- Import vue.js -->
    <script src="https://unpkg.com/vue@next"></script>
</head>
<body>
    <div id="app">
        <div class="nav-bar"></div>
        <div class="product-display">
            <div class="product-container">
                <div class="product-image">
                    <!-- Gambar ditampilkan disini -->
                    <img :src="image" alt="kaus-kaki-hijau">
                </div>
                <div class="product-info">
                    <h1>{{ product }}</h1>
                    <!-- <p v-show="inStock">Stok Tersedia</p> -->

                    <p v-if="inventory > 20">Stok Tersedia</p>
                    <p v-else-if="inventory <= 20 && inventory > 0">Hampir Habis!</p>
                    <p v-else>Stok Habis</p>

                    <ul>
                        <!-- v-for digunakan untuk looping (mengulang) suatu elemen dari ekspresi 
                        yang telah dideklarasikan dan menampilkan di dalam ekspresi tersebut -->
                        <!-- detail adalah alias key dari details untuk menampilkan data dalam ekspresi -->
                        <li v-for="detail in details">{{ detail }}</li>
                    </ul>

                    <!-- Task!: Tambahkan array sizes ke data object dengan menggunakan v-for
                        untuk menampilkannya-->
                        <ul>
                            <li v-for="(size, index) in sizes" :key="index">{{ size }}</li>
                        </ul>
                    <!-- End Task -->

                        <!-- v-for juga bisa mengambil dan menampilkan data object dalam array 
                        dengan cara mendeklarasikan alias dengan ekspresi contoh varian.color -->
                        <!-- atribut :key digunakan untuk membuat suatu ekspresi bersifat unik tidak boleh sama, 
                        digunakan untuk mengubah data dengan identitas id dalam key -->
                    <div v-for="variant in variants" :key="variant.id">{{ variant.color }}</div>
                </div>
            </div>
        </div>
    </div>

    <!-- Import js/App -->
    <script src="./main.js"></script>

    <!-- Mount App -->
    <script>
        const mountedApp = app.mount('#app')
    </script>
</body>
</html>